.cart-no
{
    position: absolute;
    top: -12px;
    left: 20px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: blue;
}